/* .o_kanban_record_title {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.o_kanban_record_headings small {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
} */